fastapi[standard]
pipx
ignr
pyenv-win
pytest
pytest-cov
taskipy
ruff
pydantic[email]
pydantic-settings
sqlalchemy
alembic
pyjwt
tzdata
pwdlib[argon2]
#"pwdlib[argon2]"
sqlalchemy[asyncio]
#"sqlalchemy[asyncio]"
aiosqlite
# criptografia
openfhe
cython
pybind11
pybind11[global]
cmaker
g